<body>

  <div class="jumbotron">
    <h1> <%= @execute  %></h1>
  </div>

  <% case @execute    %>   
  <% when "repartir"  %>  
      <% mc_A_valider = save_MetaclassesEnTraitement                     %>
      <h2> <%= mc_A_repartir %> </h2>
      <% executionSansErreur = system "./repartir.sh '#{mc_A_repartir}'" %>
      <%= "ERREUR D'EXECUTION" unless executionSansErreur              %>


  <% when "valider"    %> 
      <% mc_A_valider = save_MetaclassesEnTraitement                              %>
      <h4> <%= mc_A_valider %> </h4>
      <% executionSansErreur = system "./valider.sh '#{mc_A_valider}'"            %>
      <% repFiliere,nbLignes,nomFiliere = filiere($repCedulables)                 %> 
      <% if executionSansErreur then                                              %>
      <%   flash[:notice] =  "OPERATION [#{@execute}] REUSSIE "                   %>
      <%   flash[:notice] += "--> CEDULABLES: [#{nomFiliere}: #{nbLignes} lignes]"%>
      <%   flash[:notice] += " mais --->  PAS DE SOLUTION" unless valide          %>
      <%   updateMetaclassesEtat                                                  %>
      <% else                                                                     %>
      <%   flash[:notice] = "ERREUR de fonctionnement "                           %>
      <% end                                                                      %>


  <% when "invalider"  %> 
      <% repFiliere,nbLignes,nomFiliereEffacee = filiere($repCedulables)          %> 
      <% executionSansErreur = system "./invalider.sh"                            %>
      <% if executionSansErreur then                                              %>
      <%   flash[:notice] =  "OPERATION [#{@execute}] REUSSIE:      -----> "      %>
      <%   flash[:notice] += "[#{nomFiliereEffacee}]: filiere supprimee!"         %>
      <%   updateMetaclassesEtat                                                  %>
      <% else                                                                     %>
      <%   flash[:notice] = "ERREUR de fonctionnement "                           %>
      <% end                                                                      %>


  <% when "filtrer"     %> 
      <% intervalle = obtenirIntervalle(diviseur = 30)                                    %> 
      <% executionSansErreur = system "./filtrer.sh '#{intervalle}'"                      %>
      <% repFiliere,nbLignes,nomFiliere = filiere($repCedulables)                         %> 
      <% if executionSansErreur then                                                      %>
      <%   flash[:notice] = "OPERATION [#{@execute}] REUSSIE: ----->  [0_#{nomFiliere}] " %>
      <%   flash[:notice] += "FILTREE a #{intervalle} lignes d'intervalle"                %>
      <%   flash[:notice] += "--> [#{nomFiliere}]: #{nbLignes} lignes de CEDULABLES"      %>
      <% else                                                                             %>
      <%   flash[:notice] = "ERREUR de fonctionnement "                                   %>
      <% end                                                                              %>


  <% when "de-select" #ne fonctionne pas ici  %>
      <% deSelectionner %> 
      <% exit %> 


  <% when "variance"   %> 
      <% executionSansErreur = system "./variance.sh"                                %>
      <% repFiliere,nbLignes,nomFiliere = filiere($repCedulables)                    %> 
      <% if executionSansErreur then                                                 %>
      <%   flash[:notice] = "OPERATION [#{@execute}] REUSSIE: ---> [#{nomFiliere}] " %>
      <%   flash[:notice] += "est TRIEE selon l'ordre des meilleures repartitions"   %>
      <% else                                                                        %>
      <%   flash[:notice] = "ERREUR de fonctionnement "                              %>
      <% end                                                                         %>

 
  <% when "infoCeds"   %> 
      <% horaireTemp = obtenirCedulablesHoraire                        %> 
      <% repFiliere,nbLignes,nomFiliere = filiere($repCedulables)      %> 
      <% $pid = fork do                                                %>
      <%    puts "$pid = #{$pid}"%>
      <%    executionSansErreur = system "./infoCeds.sh #{horaireTemp}"%>
      <%    if executionSansErreur then                                %>
      <%      flash[:notice] = "OPERATION [#{@execute}] REUSSIE:"      %>
      <%      flash[:notice] += " ---> Tous les horaires temporaires " %>
      <%      flash[:notice] += " cf: [hor13/info] ................."  %>
      <%      flash[:notice] += "----> TRANFERE aussi dans le PAS "    %>
      <%      flash[:notice] += " (pid =#{$pid})"                      %>
      <%    else                                                       %>
      <%    flash[:notice] = "ERREUR de fonctionnement "               %>
      <%   end                                                         %>
      <%   flash[:notice] = "OPERATION [#{@execute}] en cours:"        %>
      <% end                                                           %>



  <% when "infoHor"    %>
      <% executionSansErreur = system "./infoHor.sh"          %>
      <% if executionSansErreur then                          %>
      <%   flash[:notice] = "OPERATION [#{@execute}] REUSSIE:"%>
      <%   flash[:notice] += " = Info des horaires deja fixes"%>
      <% else                                                 %>
      <%   flash[:notice] = "ERREUR de fonctionnement "       %>
      <% end                                                  %>

  
  <% when "data"       %>
      <% executionSansErreur = system "./data.sh"              %>
      <% if executionSansErreur then                           %>
      <%   flash[:notice] = "OPERATION [#{@execute}] REUSSIE:" %>
      <%   flash[:notice] += " ---> Base de donnees mise a jour"    %>
      <% else                                                  %>
      <%   flash[:notice] = "ERREUR de fonctionnement "        %>
      <% end                                                   %>


  <% when "fix-Reps"%> 
  <% when "ceduler" %> 
  <% when "viable"  %> 
  <% when "compact" %>
  <% when "diago"   %> 
  <% when "flat?"   %> 
  
  
  <% when "fix-hor"    # nefonctionne pas mais prg comme infoCeds%> 
      <% #horaireTemp = obtenirDiagHoraire                       %> 
      <% #repFiliere,nbLignes,nomFiliere = filiere($repDiag)     %> 
      <% #executionSansErreur = system "./fic_hor.sh #{horaireTemp}"  %>
      <% if executionSansErreur then                                  %>
      <%   flash[:notice] = "OPERATION [#{@execute}] REUSSIE:"        %>
      <%   flash[:notice] += " ---> Horaires [hor13/info]"%>
      <%   flash[:notice] += " = horaires deja fixes + horaires de la"%>
      <%   flash[:notice] += " 1re ligne de la filiere: #{nomFiliere}"%>
      <% else                                                         %>
      <%   flash[:notice] = "ERREUR de fonctionnement "               %>
      <% end                                                          %>

  
  <% when "stop"       %>
      <% puts "kill -9 #{$pid}" %>
      <% executionSansErreur = system "./stop.sh #{$pid}" %>
      
  
  <% else              %> 
      <h3> <%= "Aucune des actions programmees ne correpond a votre demande" %> </h3>
  <% end               %> 
  
  

  <% @blocMC = "index" unless @blocMC  %>
  
  <%= link_to "AFFICHER: "+@blocMC,blocMetaclasses_path(:blocMC => @blocMC),class:"btn btn-info" %>
  
 
</body>