<body>

  <div class="jumbotron">
    <h1> <%= @execute        %></h1>
    	 <% flash[:notice]=""%>
  </div>

  <% case @execute    %>    
  <% when "diago"   %> 
      <% metaclasses = obtenirCompact(@niv,"A")                    %> 
      <% $pid = fork do                                            %>
      <%    jour = "A"                   %>
      <%    system "./diago.sh #{@niv} #{jour} #{metaclasses}"                   %>
      <%   end                                                     %>
      <h4><br><br><font color="red"><bold>
      <%= " OPERATION [ #{@execute} #{@niv} ] en cours (pid: #{$pid}).............."  %>
      <br><br><font color="blue">
      <%= "BUT: "%><br>
      <%= "FORMER: les filieres diagonalisees  [ op/sols/#{@niv}_diag.jX ]"   %><br>
      <br><br><br>
      <%= "ETAT FINAL: Des horaires diagonalises sont fixes!           "%>
      </h4></font></bold>
      
      
  <% when "repartir"  %>  
      <% mc_A_repartir = save_MetaclassesEnTraitement  %>
      <h4> <%= mc_A_repartir %></h4> 
      <%  $pid = fork do                                                     %>
      <%       system "./repartir.sh '#{mc_A_repartir}'" %>
      <%     end                                                             %>
      <h4><br><br><font color="red"><bold>
      <%= " OPERATION [ #{@execute} ] en cours (pid: #{$pid}).............." %>
      <br><br><font color="blue"><bold>
      <%= "BUT: " %><br>
      <%= "VOIR les repartitions a l'ecran du terminal rails"       %>
      </h4></font></bold>

  <% when "valider"  %> 
      <%  repFiliere,nbLignes,nomFiliere = filiere($dirCedulables)           %> 
      <% mc_A_valider = save_MetaclassesEnTraitement                         %>
      <h4> <%= mc_A_valider %></h4> 
      <%  $pid = fork do                                                     %>
      <%       Signal.trap("HUP"){puts "Ouch!" ; exit}                       %>
      <%       executionSansErreur = system "./valider.sh '#{mc_A_valider}'" %>
      <%     end                                                             %>
      <%  sleep 3                                                            %>
      <h4><br><br><font color="red"><bold>
      <%= " OPERATION [ #{@execute} ] en cours (pid: #{$pid}).............." %>
      <br><br><font color="blue"><bold>
      <%= "BUT: "%><br>
      <%= "TROUVER des cedulables a partir [op/cedulables/#{nomFiliere}]"%>
      <br><br>
      <%= "SOURCE:    [ #{nomFiliere} ]"                                     %><br>
      <%  repFiliere,nbLignes,nomFiliere = filiere($dirCedulables)           %> 
      <%= "->DESTIN:    [ #{nomFiliere} ]"                                   %>
      <br><br><br>
      <%= "P.S. Rafraichir [ #{nomFiliere} ]---> Editeur de fichiers CTRL-R "%>
      </h4></font></bold>


  <% when "invalider"  %> 
      <% repFiliere,nbLignes,nomFiliere = filiere($dirCedulables) %> 
      <% executionSansErreur = system "./invalider.sh"            %>
      <% if executionSansErreur then                              %>
	<h4><br><br><font color="red"><bold>
	<%= " OPERATION [ #{@execute} ] en cours (pid: #{$pid}).............." %>
	<br>
	<%= "--> BUT: EFFACER la filiere [ #{nomFiliere} ]"                    %>
	<br>
	<%  repFiliere,nbLignes,nomFiliere = filiere($dirCedulables)           %> 
	<%= "--> La derniere filiere de CEDULABLES est [ #{nomFiliere} ]"      %>
      <% end     %>
      </h4></font></bold>


  <% when "filtrer"     %> 
      <% intervalle = obtenirIntervalle(diviseur = 30)             %> 
      <% repFiliere,nbLignes,nomFiliere = filiere($dirCedulables)  %> 
      <%       system "./filtrer.sh '#{intervalle}'"               %>
      <h4><br><br><font color="red"><bold>
      <%= " OPERATION [ #{@execute} ] en cours (pid: #{$pid}).............."      %>
      <br><br><font color="blue">
      <%= "BUT"%><br>
      <%= "ARCHIVER: #{nomFiliere} devient [ 0_#{nomFiliere} ]                             "%><br>
      <%= "ECHANTILLONNER (filtrer) a #{intervalle} lignes d'intervalle [ 0_#{nomFiliere} ]"%><br>
      <%= "CREER une filiere filtree: #{nomFiliere}] contenant les echantillons"            %><br>
      <%= "CREER une filiere identique au repertoire: [op/cedulables_back/#{nomFiliere}]   "%><br>
      <%= "        pour utilisation en parallele avec un setup: [./run.sh]                 "%>
      </h4></font></bold>


  <% when "variance" %> 
      <% repFiliere,nbLignes,nomFiliere = filiere($dirCedulables)  %> 
      <% $pid = fork do                                            %>
      <%    system "./variance.sh"                                 %>
      <%     end                                                   %>
      <h4><br><br><font color="red"><bold>
      <%= " OPERATION [ #{@execute} ] en cours (pid: #{$pid})....."%>
      <br><br><font color="blue">
      <%= "BUT: "  %><br>
      <%= "TRIER selon la VARIANCE de [ #{nomFiliere} ]"  %>
      <br><br><br>
      <%= "RAPPEL: Variances basses = meilleures repartitions "%>
      </h4></font></bold>      
      
      
  <% when "fixJour" %> 
      <% horaireTemp = obtenirCedulablesHoraire                  %> 
      <% repFiliere,nbLignes,nomFiliere = filiere($dirCedulables)%> 
      <% $pid = fork do                                          %>
      <%       system "./fix-hor.sh #{horaireTemp}"              %>
      <%     end                                                 %>
      <h4><br><br><font color="red"><bold>
      <%= " OPERATION [ #{@execute} ] en cours (pid: #{$pid})..............   "%>
      <br><br><font color="blue">
      <%= "BUT:" %><br>
      <%= "FIXER: les CEDULABLES selon la 1re ligne de [#{nomFiliere}]        "%><br>
      <%= "OBTENIR: [hor13/info/] selon 1re ligne de [#{nomFiliere}]           "%><br>
      <%= "TRANSFERER: ces horaires au PAS (Planification Annee Scolaire [web])"%>
      <br><br><br>
      <%= "ETAT FINAL: [data/horaires.txt] selon 1re ligne [#{nomFiliere}]     "%>
      </h4></font></bold>

   <% when "infoCeds" %> 
      <% horaireTemp = obtenirCedulablesHoraire                               %> 
      <% repFiliere,nbLignes,nomFiliere = filiere($dirCedulables)             %> 
      <% $pid = fork do                                                       %>
      <%       system "./infoCeds.sh #{horaireTemp}"                          %>
      <%     end                                                              %>
      <h4><br><br><font color="red"><bold>
      <%= " OPERATION [ #{@execute} ] en cours (pid: #{$pid}).............."  %>
      <br><br><font color="blue">
      <%= "BUT: "%><br>
      <%= "OBTENIR: les hor13/info/ selon 1re ligne [ #{nomFiliere} ]"         %><br>
      <%= "CEDULABLES [ #{nomFiliere} ] temporairement fixes"                  %><br>
      <%= "FIXER: ces horaires dans le PAS (Planification Annee Scolaire[web])"%>
      <br><br><br>
      <%= "ETAT FINAL: [ data/horaires.txt ] remis au statut precedent        "%>
      </h4></font></bold>


  <% when "infoHor" %>
      <% $pid = fork do                %>
      <%       system "./infoHor.sh"   %>
      <%     end                       %>
      <h4><br><br><font color="red"><bold>
      <%= " OPERATION [ #{@execute} ] en cours (pid: #{$pid}).............."%>
      <br><br><font color="blue">
      <%= "BUT:"%>
      <%= "METTRE A JOUR: [hor13/info/...] avec l'horaire officiel     "%><br>
      <%= "TRANSFERER ces horaires dans le PAS (Planif. Annee Scolaire)"%>
      <br><br><br>
      <%= "ETAT FINAL: [hor13/info/..] a partir de [ data/horaires.txt ]"%>
      </h4></font></bold>

  
  <% when "data"  %>
      <% $pid = fork do            %>
      <%       system "./data.sh"  %>
      <%     end                   %>
      <h4><br><br><font color="red"><bold>
      <%= " OPERATION [ #{@execute} ] en cours (pid: #{$pid}).............."         %>
      <br><br><font color="blue">
      <%= "BUT: "%>
      <%= "Mettre la BASE DE DONNEES a jour                           "%>
      <br><br>
      <%= "--> SOURCE: PAS (Planification Annee Scolaire) sur le Web"                   %><br>
      <%= "--> DESTINATION: [hor13/init/] (metaclasses, classes, metas, profs, locaux) "%>
      <br><br><br>
      <%= "REMARQUE: VOIR le transfert directement a l'ecran du terminal rails"        %>
      </h4></font></bold>


  <% when "deselect" #ne fonctionne pas avec action.html.erb mais deSelect.html.erb%>
  
  
  <% when "fixCeds"%> 
      <% horaireTemp = obtenirCedulablesHoraire                    %> 
      <% repFiliere,nbLignes,nomFiliere = filiere($dirCedulables)  %> 
      <% system "./fixCeds.sh #{horaireTemp}"                     %>
      <h4><br><br><font color="red"><bold>
      <%= " OPERATION [ #{@execute} ] en cours (pid: #{$pid}).............."  %>
      <br><br><font color="blue">
      <%= "BUT: "%><br>
      <%= "FORMER: la filiere  [confection/horaire.rb]"                %><br>
      <%= "OBTENIR: les metaclasses selon 1re ligne de [#{nomFiliere}]"%><br>
      <br><br><br>
      <%= "ETAT FINAL: [confection/horaire.rb] aux repartitions du dernier cedulables        "%>
      </h4></font></bold>
      
      
  <% when "ceduler" %> 
      <% metaclasses = obtenirCedulablesHoraire                    %> 
      <% repFiliere,nbLignes,nomFiliere = filiere($dirCedulables)  %> 
      <% $pid = fork do                                            %>
      <%    system "./ceduler.sh #{metaclasses}"                   %>
      <%   end                                                     %>
      <h4><br><br><font color="red"><bold>
      <%= " OPERATION [ #{@execute} ] en cours (pid: #{$pid}).............."  %>
      <br><br><font color="blue">
      <%= "BUT: "%><br>
      <%= "FORMER: les filieres solutions  [ op/sols/S5_sols.jX ]"   %><br>
      <%= "OBTENIR: les metaclasses selon 1re ligne de [#{nomFiliere}]"%><br>
      <br><br><br>
      <%= "ETAT FINAL: [op/sols/S5_sols.jX] des 8 jours du niveau        "%>
      </h4></font></bold>
      
      
  <% when "viableCompact"  %> 
      <h3> <%= "PROGRAMME EN CONSTRUCTION" %> </h3>
  <% when "flat?"   %> 
      <h3> <%= "PROGRAMME EN CONSTRUCTION" %> </h3>
  
   
  <% when "stop"  %>
      <%= "Process.kill('HUP', $pid)" %>
      <% Process.kill("HUP", $pid) %>
	<h4><br><br><font color="red"><bold>
	<%= " OPERATION [ #{@execute} ] en cours (pid: #{$pid}).............." %>
	<br>
        <%= "--> BUT: STOPPER le processus (pid: #{$pid}) "%>
	<br>
      </h4></font></bold>

      
  
  <% else              %> 
      <h3> <%= "Aucune des actions programmees ne correpond a votre demande" %> </h3>
  <% end               %> 
  
  

  <% @blocMC = "index" unless @blocMC  %>
  <br>
  <%= link_to "AFFICHER: "+@blocMC,blocMetaclasses_path(:execute => @execute, :blocMC => @blocMC),class:"btn btn-info" %>
  
 
</body>