<body>

<% mc = Metaclass.all  %>  

  <div class="container">
    <div class="row">    
      <% x = y = 0 %>
      <% until x > mc.size do %>
	<% until y == 5  do %>
	  <% color = satutColor(mc[x]) %>
	  <div class="col-lg-2 ligneHaute">
	    <% if mc[x] %>
	      <input type="checkbox" name=<%= mc[x].nom %> 
		<%= mc[x].checked ? " checked" : "" %>
		<%= mc[x].fixHor || mc[x].fixCedulables  ? " disabled" : "" %>>
	      </input>
	      <font size=4.5 color=<%= color %>><%= mc[x].nom %>
	    <% end ; x += 1; y += 1 %>
	  </div> 
	<% end ; y = 0 %> 	
      <% end %> 
    </div>
  </div>

  


</body>