<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @activite.nom %>
</p>

<p>
  <strong>Metaclass:</strong>
  <%= @activite.metaclass %>
</p>

<p>
  <strong>Cours:</strong>
  <%= @activite.cours %>
</p>

<p>
  <strong>Groupe:</strong>
  <%= @activite.groupe %>
</p>

<p>
  <strong>Periodhor:</strong>
  <%= @activite.periodHor %>
</p>

<p>
  <strong>Periodtache:</strong>
  <%= @activite.periodTache %>
</p>

<p>
  <strong>Prof:</strong>
  <%= @activite.prof %>
</p>

<p>
  <strong>Salle:</strong>
  <%= @activite.salle %>
</p>

<p>
  <strong>Listefoyers:</strong>
  <%= @activite.listeFoyers %>
</p>

<%= link_to 'Edit', edit_activite_path(@activite) %> |
<%= link_to 'Back', activites_path %>
