<h1>Éditer <%= @metaclass.nom %></h1>


<!-- Pour revenir à l'édition complète des metaclasses :
	1- DÉCOMMENTER les lignes commentées ci-après
	2- COMMENTER : les suivantes qui ne le sont pas 

<%= render 'form', metaclass: @metaclass %> 

<%= link_to 'Afficher', @metaclass %> |
<%= link_to 'Liste des metaclasses', metaclasses_path %>

-->

<!--  --> 

<% @blocMC ="index" if @blocMC =="" %> 
<%= render 'formStatus', metaclass: @metaclass %> 

<p id="demon"></p>


<script> pageWeb("<%= @blocMC %>") </script>
