<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @metaclass.nom %>
</p>

<p>
  <strong>Horfix:</strong>
  <%= @metaclass.horFix %>
</p>

<p>
  <strong>Cedulablesfix:</strong>
  <%= @metaclass.cedulablesFix %>
</p>

<p>
  <strong>Checked:</strong>
  <%= @metaclass.checked %>
</p>

<%= link_to 'Edit', edit_metaclass_path(@metaclass) %> |
<%= link_to 'Back', metaclasses_path %>
