
<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @metaclass.nom %>
</p>

<p>
  <strong>Status:</strong>
  <%= @metaclass.status %>
</p>

<p>
  <strong>Niveau:</strong>
  <%= @metaclass.niveau %>
</p>

<p>
  <strong>Listeactivites:</strong>
  <%= @metaclass.listeActivites %>
</p>

<!-- <%= link_to 'Edit', edit_metaclass_path(@metaclass) %> |
<%= link_to 'Back', metaclasses_path %> -->

<%= link_to 'HORAIRE-JDLM', root_path %>

