<nav class="navbar navbar-default navbar-fixed-top">

  <form id="menuHaut">
    <!-- <div class="container-fluid"> -->
    <div class="container">
    
      <!-- BOUTON: HORAIRE-JDLM -->
        <%= link_to "HORAIRE-JDLM #{$annee}", blocMetaclasses_path(:blocMC => "index"),  id:"logo" %>
     
      <!-- BOUTON: DESELECT -->
        <%= link_to 'DESELECT.',deSelect_path(:blocMC => @blocMC), class:"btn btn-warning "  %>
     
      <!-- BOUTON: INFO-->
        <div class="btn-group btn-group-primary">
          <button type="button" class="btn btn-primary">INFO</button>
          <button type="button" class="btn btn-primary dropdown-toggle" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span></button>
            <ul class="dropdown-menu multi-level">
              <li><%= link_to 'AFFICHER les filieres des INFO',action_path(:execute=>"info",:blocMC => @blocMC)%></li>
              <li>---------------------------</li>
              <li><%= link_to 'MISE A JOUR: filieres INFO des HORAIRES fixes',action_path(:execute=>"infoHor", :blocMC=>@blocMC,:transfert_PAS=>"non")%></li>
              <li><%= link_to 'MISE A JOUR: filieres INFO des CEDULABLES',action_path(:execute=>"infoCeds",:blocMC=>@blocMC,:transfert_PAS=>"non")%></li>
              <li><%= link_to 'Filiere info_HORAIRES_objets',action_path(:execute=>"infoHorTous",:blocMC=>@blocMC,:transfert_PAS=>"non",:objets=>'Pisc')%></li>
              <li><%= link_to 'Filiere info_RÉPARTITIONS_objets',action_path(:execute=>"infoRepsTous",:blocMC=>@blocMC,:transfert_PAS=>"non",:objets=>'Pisc')%></li>
              <li>---------------------------</li>
              <li><%= link_to 'MISE A JOUR + TRANSFERT: horaires fixes  ---> www.PAS',action_path(:execute=>"infoHor", :blocMC=>@blocMC,:transfert_PAS=>"oui")%></li>
              <li><%= link_to 'MISE A JOUR + TRANSFERT: cedulables  ---> www.PAS',action_path(:execute=>"infoCeds",:blocMC=>@blocMC,:transfert_PAS=>"oui")%></li>
              <li>---------------------------</li>
            </ul>
        </div>

      <!-- BOUTON: BACKBONE -->
          ____
        <%= link_to 'BACKBONE',blocMetaclasses_path(:blocMC => "backbone") %>
        ____

      <!-- BOUTON: NIVEAUX -->
        <b><% %w[S1 S2 S3 S4 S5].each do |sujet| %>
            <%=     link_to sujet,blocMetaclasses_path(:blocMC => "niveau"+sujet)  %>
        <% end %></b>
        ____
      <!-- BOUTON: MATIÈRES -->
        <% matieresDesMetaclasses($listeMetas, []).sort.each do |sujet| %>
          <%=     link_to sujet,blocMetaclasses_path(:blocMC => sujet)  %>
        <% end %>
        </b>___ 

      <!-- BOUTON: GROUPES -->
        <% nivPrecedent = "1"         %>               
        <% $listeFoyers.each do |fyr| %>               <!-- sauf foyers du Primaire fyr[0] -->
          <%=    "___" unless fyr[2] == nivPrecedent || fyr[0] == "P"                   %>
          <%=    (link_to fyr, blocMetaclasses_path(:blocMC => fyr )) unless fyr[0]=="P"%>
          <%     nivPrecedent = fyr[2]                                                  %>
        <% end %>

      <!-- BOUTON: AFFICHER fileInfo -->
      <%#= link_to 'AFFICHIER_fileInfo', action_path(:execute => "info", :blocMC => @blocMC) %>
    </div><!-- /.container-fluid -->
  </form>  
</nav>

<!-- AFFICHER AUSSI LA BARRE DE NAVIGATION DU BAS DE PAGE -->
<%= render 'layouts/nav_barBottom' %> 

