<nav class="navbar navbar-default navbar-fixed-top">
  <form id="menuHaut">
  <div class="container-fluid btn-group center ">
    <!-- LOGO et redirection à la page d'acceuil regroupé -->
    <div class="navbar-header">
      <%= link_to 'HORAIRE-JDLM', root_path, class:"navbar-brand", id:"logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div role="main" class="container theme-showcase">
    
      <!-- nav-barTop btn:[METACLASSES] -->
      <div class="btn-group btn-group-primary">
	<button class="btn btn-primary">METACLASSES </button>
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  <span class="caret"></span>
	  <span class="sr-only">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu multi-level", id="selectionMc">
	  <li><%= link_to 'Backbone', blocMetaclasses_path(:param => "backbone"), class:"btn btn-warning" %></li>
	  <li class="dropdown-submenu">
	    <a tabindex="-1" href="#" class="btn btn-warning">NIVEAUX </a>
	    <ul class="dropdown-menu">
	      <li><%= link_to 'S1', blocMetaclasses_path(:param => "nivS1"), class:"btn btn-warning" %></li>
	      <li><%= link_to 'S2', blocMetaclasses_path(:param => "nivS2"), class:"btn btn-warning" %></li>
	      <li><%= link_to 'S3', blocMetaclasses_path(:param => "nivS3"), class:"btn btn-warning" %></li>
	      <li><%= link_to 'S4', blocMetaclasses_path(:param => "nivS4"), class:"btn btn-warning" %></li>
	      <li><%= link_to 'S5', blocMetaclasses_path(:param => "nivS5"), class:"btn btn-warning" %></li>
	    </ul>
	  </li>
	  <li class="dropdown-submenu">
	    <a tabindex="-1" href="#" class="btn btn-warning">GROUPES</a>
	    <ul class="dropdown-menu">
	    
	      <li class="dropdown-submenu">
		<a tabindex="-1" href="#" class="btn btn-warning" >S1</a>
		<ul class="dropdown-menu">
		  <li><%= link_to "Gr11", blocMetaclasses_path(:param => "Gr11"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr12", blocMetaclasses_path(:param => "Gr12"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr13", blocMetaclasses_path(:param => "Gr13"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr14", blocMetaclasses_path(:param => "Gr14"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr15", blocMetaclasses_path(:param => "Gr15"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr16", blocMetaclasses_path(:param => "Gr16"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr17", blocMetaclasses_path(:param => "Gr17"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr18", blocMetaclasses_path(:param => "Gr18"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr19", blocMetaclasses_path(:param => "Gr19"), class:"btn btn-warning" %></li>
		</ul>
	      </li>
	      
	      <li class="dropdown-submenu">
		<a tabindex="-1" href="#" class="btn btn-warning" >S2</a>
		<ul class="dropdown-menu">
		  <li><%= link_to "Gr201", blocMetaclasses_path(:param => "Gr201"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr202", blocMetaclasses_path(:param => "Gr202"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr203", blocMetaclasses_path(:param => "Gr203"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr204", blocMetaclasses_path(:param => "Gr204"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr205", blocMetaclasses_path(:param => "Gr205"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr206", blocMetaclasses_path(:param => "Gr206"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr207", blocMetaclasses_path(:param => "Gr207"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr208", blocMetaclasses_path(:param => "Gr208"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr209", blocMetaclasses_path(:param => "Gr209"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr210", blocMetaclasses_path(:param => "Gr210"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr211", blocMetaclasses_path(:param => "Gr211"), class:"btn btn-warning" %></li>
		</ul>
	      </li>
	      
	      <li class="dropdown-submenu">
		<a tabindex="-1" href="#" class="btn btn-warning" >S3</a>
		<ul class="dropdown-menu">
		  <li><%= link_to "Gr31", blocMetaclasses_path(:param => "Gr31"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr32", blocMetaclasses_path(:param => "Gr32"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr33", blocMetaclasses_path(:param => "Gr33"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr34", blocMetaclasses_path(:param => "Gr34"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr35", blocMetaclasses_path(:param => "Gr35"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr36", blocMetaclasses_path(:param => "Gr36"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr37", blocMetaclasses_path(:param => "Gr37"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr38", blocMetaclasses_path(:param => "Gr38"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr39", blocMetaclasses_path(:param => "Gr39"), class:"btn btn-warning" %></li>
		</ul>
	      </li>
	      
	      <li class="dropdown-submenu">
		<a tabindex="-1" href="#" class="btn btn-warning" >S4</a>
		<ul class="dropdown-menu">
		  <li><%= link_to "Gr41", blocMetaclasses_path(:param => "Gr41"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr42", blocMetaclasses_path(:param => "Gr42"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr43", blocMetaclasses_path(:param => "Gr43"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr44", blocMetaclasses_path(:param => "Gr44"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr45", blocMetaclasses_path(:param => "Gr45"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr46", blocMetaclasses_path(:param => "Gr46"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr47", blocMetaclasses_path(:param => "Gr47"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr48", blocMetaclasses_path(:param => "Gr48"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr49", blocMetaclasses_path(:param => "Gr49"), class:"btn btn-warning" %></li>
		</ul>
	      </li>
	      
	      <li class="dropdown-submenu">
		<a tabindex="-1" href="#" class="btn btn-warning" >S5</a>
		<ul class="dropdown-menu">
		  <li><%= link_to "Gr51", blocMetaclasses_path(:param => "Gr51"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr52", blocMetaclasses_path(:param => "Gr52"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr53", blocMetaclasses_path(:param => "Gr53"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr54", blocMetaclasses_path(:param => "Gr54"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr55", blocMetaclasses_path(:param => "Gr55"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr56", blocMetaclasses_path(:param => "Gr56"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr57", blocMetaclasses_path(:param => "Gr57"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr58", blocMetaclasses_path(:param => "Gr58"), class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr59", blocMetaclasses_path(:param => "Gr59"), class:"btn btn-warning" %></li>
		</ul>
	      </li>
	      
	    </ul>
	  </li>
	  
	  <li class="dropdown-submenu">
	    <a tabindex="-1" href="#" class="btn btn-warning">COURS/ACTIVITÉS/MATIÈRES</a>
	    <ul class="dropdown-menu">
	      <li><%= link_to 'ANGlais', blocMetaclasses_path(:param => "ANG"), class:"btn btn-warning" %></li>
	      <li><%= link_to 'ARTs', blocMetaclasses_path(:param => "ART"), class:"btn btn-warning" %></li>
	      <li><%= link_to 'Education PhySique',blocMetaclasses_path(:param => "EPS"), class:"btn btn-warning" %></li>
	      <li><%= link_to 'FRAnçais', blocMetaclasses_path(:param => "FRA"), class:"btn btn-warning" %></li>
	      <li><%= link_to 'MAThématique', blocMetaclasses_path(:param => "MAT"), class:"btn btn-warning" %></li>
	      <li><%= link_to 'SCiences Technologie',blocMetaclasses_path(:param => "SCT"), class:"btn btn-warning" %></li>
	      <li><%= link_to 'ESPagnol', blocMetaclasses_path(:param => "ESP"), class:"btn btn-warning" %></li>
	      <li class="divider"></li>
	      <li><%= link_to 'CHImie', blocMetaclasses_path(:param => "CHI"), class:"btn btn-warning"   %></li>
	      <li><%= link_to 'PHYsique', blocMetaclasses_path(:param => "PHY"), class:"btn btn-warning" %></li>
	      <li><%= link_to 'Techni. Méthode Scient.',blocMetaclasses_path(:param => "TMS"), class:"btn btn-warning" %></li>
	      <li class="divider"></li>
	      <li><%= link_to 'HIStoire',blocMetaclasses_path(:param => "HIS"), class:"btn btn-warning"                %></li>
	      <li><%= link_to 'GEOgraphie', blocMetaclasses_path(:param => "GEO"), class:"btn btn-warning"              %></li>
	    </ul>
	  </li>
      </div> <!-- FIN : btn:[METACLASSES] -->
    
    <%= link_to 'PRIORITÉS', fixerHoraire_path, class:"btn btn-warning"    %>
    <%= link_to 'CONTRAINTES', contraintes_path, class:"btn btn-warning "  %>


      <div class="btn-group btn-group-info ">
	<button class="btn btn-info" type="button">BASE DE DONNÉES</button>
	<button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button"><span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
	  <li><%= link_to 'METACLASSES', metaclasses_path, class:"btn btn-warning "                           %></li>
	      <li class="divider"></li>
	  <li><%= link_to 'ACTIVITÉS', activites_path, class:"btn btn-warning "                               %></li>
	      <li class="divider"></li>
	  <li><%= link_to 'REPLACER AUX DERNIERS CÉDULABLES', updateCedulables_path, class:"btn btn-warning " %></li>
	      <li class="divider"></li>
	  <li><%= link_to 'MISE À JOUR: BASE DE DONNÉES', updateMetaclasses_path, class:"btn btn-warning "         %></li>
	      <li class="divider"></li>
	  <li><%= link_to 'CRÉER: BASE DE DONNÉES', creerBaseDeDonnees_path, class:"btn btn-warning "        %></li>
	</ul>
      </div>
      
      
    <%= link_to 'DÉ-SÉLECT.', deselectionner_path, class:"btn btn-danger" %>
    <div class="btn-group btn-group-primary">
      <button type="button" class="btn btn-primary">INFO</button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<span class="caret"></span>
	<span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu multi-level">
	<li><%= link_to 'info HORAIRE',    infoHoraire_path,    class:"btn btn-warning" %></li>
	<li><%= link_to 'info CÉDULABLES', infoCedulables_path, class:"btn btn-warning" %></li>
      </ul>
    </div>
  </div>

  </div><!-- /.container-fluid -->
  
  </form>
</nav>

<!-- BARRE DE NAVIGATION DU BAS DE PAGE -->
<%= render 'layouts/nav_barBottom' %> 


<!--
<script>
  function horaireJDLM() {
    location.reload();
  }
</script>
-->
