<!-- --BOTTOM: nav-bar ----------------------->
<nav class="navbar navbar-default navbar-fixed-bottom">

  <form id="menuBas">
  
    <div class="container-fluid center" >

      <div class="metaclassesChoisies" >
	<text id="choixMetaclasses" color="white">  </text>
      </div>
      
      <br>
      <%= link_to 'REPARTIR',  action_path(:execute=>"repartir",  :blocMC => @blocMC),class:"btn btn-info"        %>
      <%= link_to 'VALIDER',   action_path(:execute=>"valider",   :blocMC => @blocMC),class:"btn btn-warning"     %>
      <%= link_to 'INVALIDER', action_path(:execute=>"invalider", :blocMC => @blocMC),class:"btn btn-danger"      %>
      <%= link_to 'FILTRER',   action_path(:execute=>"filtrer",   :blocMC => @blocMC),class:"btn btn-info"        %>
      <%= link_to 'VARIANCE',  action_path(:execute=>"variance",  :blocMC => @blocMC),class:"btn btn-info"        %>
      <%= link_to 'FIX-CEDS',  action_path(:execute=>"fix-ceds",  :blocMC => @blocMC),class:"btn btn-info"        %>
      <%= link_to 'CEDULER',   action_path(:execute=>"ceduler",   :blocMC => @blocMC),class:"btn btn-info"        %>
      <%= link_to 'VIABILISER',action_path(:execute=>"viabiliser",:blocMC => @blocMC),class:"btn btn-info"        %>
      <%= link_to 'COMPACTER', action_path(:execute=>"compacter", :blocMC => @blocMC),class:"btn btn-info"        %>
      <%= link_to 'DIAGO.',    action_path(:execute=>"diago",     :blocMC => @blocMC),class:"btn btn-info"        %>
      <%= link_to 'FIX-HOR',   action_path(:execute=>"fix-hor",   :blocMC => @blocMC),class:"btn btn-success"     %>
      <%= link_to 'DATA',      action_path(:execute=>"data",      :blocMC => @blocMC),class:"btn btn-warning"     %>
      <%= link_to 'STOP',      action_path(:execute=>"stop",      :blocMC => @blocMC),class:"btn btn-danger left" %>
       
    </div>
    
  </form>
</nav>
