<nav class="navbar navbar-default navbar-fixed-top">
  <form id="menuHaut">
  <div class="container-fluid btn-group center ">
    <!-- LOGO et redirection à la page d'acceuil regroupé -->
    <div class="navbar-header">
      <%= link_to 'HORAIRE-JDLM', root_path, class:"navbar-brand", id:"logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div role="main" class="container theme-showcase">
    
      <!-- nav-barTop btn:[METACLASSES] -->
      <div class="btn-group btn-group-primary">
	<button type="button" class="btn btn-primary">METACLASSES </button>
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  <span class="caret"></span>
	  <span class="sr-only">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu multi-level">
	  <li><%= link_to 'Backbone', backbone_path, class:"btn btn-warning" %></li>
	  <li class="dropdown-submenu">
	    <a tabindex="-1" href="#" class="btn btn-warning">NIVEAUX </a>
	    <ul class="dropdown-menu">
	      <li><%= link_to 'S1', nivS1_path, class:"btn btn-warning" %></li>
	      <li><%= link_to 'S2', nivS2_path, class:"btn btn-warning" %></li>
	      <li><%= link_to 'S3', nivS3_path, class:"btn btn-warning" %></li>
	      <li><%= link_to 'S4', nivS4_path, class:"btn btn-warning" %></li>
	      <li><%= link_to 'S5', nivS5_path, class:"btn btn-warning" %></li>
	    </ul>
	  </li>
	  <li class="dropdown-submenu">
	    <a tabindex="-1" href="#" class="btn btn-warning">GROUPES</a>
	    <ul class="dropdown-menu">
	    
	      <li class="dropdown-submenu">
		<a tabindex="-1" href="#" class="btn btn-warning" >S2</a>
		<ul class="dropdown-menu">
		  <li><%= link_to "Gr21", gr21_path, class:"btn btn-warning" %></li>
		</ul>
	      </li>
	      
	      <li class="dropdown-submenu">
		<a tabindex="-1" href="#" class="btn btn-warning" >S4</a>
		<ul class="dropdown-menu">
		  <li><%= link_to "Gr41", gr41_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr42", gr42_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr43", gr43_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr44", gr44_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr45", gr45_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr46", gr46_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr47", gr47_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr48", gr48_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr49", gr49_path, class:"btn btn-warning" %></li>
		</ul>
	      </li>
	      
	      <li class="dropdown-submenu">
		<a tabindex="-1" href="#" class="btn btn-warning" >S5</a>
		<ul class="dropdown-menu">
		  <li><%= link_to "Gr51", gr51_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr52", gr52_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr53", gr53_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr54", gr54_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr55", gr55_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr56", gr56_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr57", gr57_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr58", gr58_path, class:"btn btn-warning" %></li>
		  <li><%= link_to "Gr59", gr59_path, class:"btn btn-warning" %></li>
		</ul>
	      </li>
	      
	    </ul>
	  </li>
	  
	  <li class="dropdown-submenu">
	    <a tabindex="-1" href="#" class="btn btn-warning">COURS/ACTIVITÉS/MATIÈRES</a>
	    <ul class="dropdown-menu">
	      <li><%= link_to 'ANGlais', coursANG_path, class:"btn btn-warning"  %></li>
	      <li><%= link_to 'FRAnçais', fixerHoraire_path, class:"btn btn-warning" %></li>
	      <li><%= link_to 'ESPagnol', fixerHoraire_path, class:"btn btn-warning" %></li>
	      <li class="divider"></li>
	      <li><%= link_to 'MAThématique', fixerHoraire_path, class:"btn btn-warning"            %></li>
	      <li><%= link_to 'SCiences Technologie', fixerHoraire_path, class:"btn btn-warning"    %></li>
	      <li><%= link_to 'CHImie', fixerHoraire_path, class:"btn btn-warning"                  %></li>
	      <li><%= link_to 'PHYsique', fixerHoraire_path, class:"btn btn-warning"                %></li>
	      <li><%= link_to 'Techni. Méthode Scient.', fixerHoraire_path, class:"btn btn-warning" %></li>
	      <li class="divider"></li>
	      <li><%= link_to 'ARTs', coursART_path, class:"btn btn-warning"                 %></li>
	      <li><%= link_to 'Education PhySique', coursEPS_path, class:"btn btn-warning" %></li>
	      <li><%= link_to 'HIStoire', fixerHoraire_path, class:"btn btn-warning"             %></li>
	      <li><%= link_to 'GEOgraphie', fixerHoraire_path, class:"btn btn-warning"           %></li>
	    </ul>
	  </li>
      </div> <!-- FIN : btn:[METACLASSES] -->
    
    <%= link_to 'PRIORITÉS', fixerHoraire_path, class:"btn btn-warning"    %>
    <%= link_to 'CONTRAINTES', fixerHoraire_path, class:"btn btn-warning " %>


      <div class="btn-group btn-group-info ">
	<button class="btn btn-info" type="button">BASE DE DONNÉES</button>
	<button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button"><span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
	  <li><%= link_to 'METACLASSES', metaclasses_path, class:"btn btn-warning " %></li>
	      <li class="divider"></li>
	  <li><%= link_to 'ACTIVITÉS', activites_path, class:"btn btn-warning " %></li>
	      <li class="divider"></li>
	  <li><%= link_to 'MISE À JOUR', miseAjour_path, class:"btn btn-warning " %></li>
	</ul>
      </div>
      
      
    <%= link_to 'DÉ-SÉLECT.', deselectionner_path, class:"btn btn-danger" %>
    <div class="btn-group btn-group-primary">
      <button type="button" class="btn btn-primary">INFO</button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<span class="caret"></span>
	<span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu multi-level">
	<li><%= link_to 'info HORAIRE',    infoHoraire_path,    class:"btn btn-warning" %></li>
	<li><%= link_to 'info CÉDULABLES', infoCedulables_path, class:"btn btn-warning" %></li>
      </ul>
    </div>
  </div>

  </div><!-- /.container-fluid -->
  
  </form>
</nav>

<!-- BARRE DE NAVIGATION DU BAS DE PAGE -->

<%= render 'layouts/nav_barBottom' %> 


<script>
  function horaireJDLM() {
    location.reload();
  }
</script>

