<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid btn-group center ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to 'HORAIRE-JDLM', root_path, class:"navbar-brand", id:"logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div role="main" class="container theme-showcase">
    
      <!-- NAV-BAR-TOP btn:[METACLASSES] -->
      <div class="btn-group btn-group-primary">
	<button type="button" class="btn btn-primary">METACLASSES </button>
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  <span class="caret"></span>
	  <span class="sr-only">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu multi-level">
	  <li><%= link_to 'Backbone', fixerHoraire_path %></li>
	  <li class="dropdown-submenu">
	    <a tabindex="-1" href="#">Groupes</a>
	    <ul class="dropdown-menu">
	      <% ["S5","S4","S3","S2","S1"].each do |niv| %>
	      <li class="dropdown-submenu">
		<a tabindex="-1" href="#"><%= niv %></a>
		<ul class="dropdown-menu">
		  <li><%= link_to "Tous les Gr de #{niveau = niv}", fixerHoraire_path%></li>
		  <li class="divider"></li>
		    <% niv == "S1" ? nbGroupes = 11 : nbGroupes = 9 ; i = 1%>
		    <% until i > nbGroupes do gr = group_string(niv,i) %>
		  <li><%= link_to "#{groupe = gr}", fixerHoraire_path %></li>
		    <% i +=1 %>  
		    <% end %>
		</ul>
	      </li>
	      <% end %>  
	    </ul>
	  </li>
	  
	  <li class="dropdown-submenu">
	    <a tabindex="-1" href="#">Catégories (Matières/Cours) </a>
	    <ul class="dropdown-menu">
	      <li><%= link_to 'ANGlais', choixMatiere_path %></li>
	      <li><%= link_to 'FRAnçais', fixerHoraire_path %></li>
	      <li><%= link_to 'ESPagnol', fixerHoraire_path %></li>
	      <li class="divider"></li>
	      <li><%= link_to 'MAThématique', fixerHoraire_path %></li>
	      <li><%= link_to 'SCiences Technologie', fixerHoraire_path %></li>
	      <li><%= link_to 'CHImie', fixerHoraire_path %></li>
	      <li><%= link_to 'PHYsique', fixerHoraire_path %></li>
	      <li><%= link_to 'Technique Méthode Scientifique', fixerHoraire_path %></li>
	      <li class="divider"></li>
	      <li><%= link_to 'ARTs', fixerHoraire_path %></li>
	      <li><%= link_to 'Education PhySique', fixerHoraire_path %></li>
	      <li><%= link_to 'HIStoire', fixerHoraire_path %></li>
	      <li><%= link_to 'GEOgraphie', fixerHoraire_path %></li>
	    </ul>
	  <li>
	  <li><%= link_to 'Salles', fixerHoraire_path %></li>
	</ul>
      </div> <!-- FIN : btn:[METACLASSES] -->
    
    <%= link_to 'PRIORITÉS', fixerHoraire_path, class:"btn btn-warning right" %>
    <%= link_to 'CONTRAINTES', fixerHoraire_path, class:"btn btn-warning right" %>


      <div class="btn-group btn-group-success ">
	<button class="btn btn-success" type="button">Success</button>
	<button data-toggle="dropdown" class="btn btn-success dropdown-toggle" type="button"><span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
	  <li><a href="#">Action</a></li>
	  <li><a href="#">Another action</a></li>
	  <li><a href="#">Something else here</a></li>
	  <li class="divider"></li>
	  <li><a href="#">Separated link</a></li>
	</ul>
      </div>
      
    <%= link_to 'DÉ-SÉLECTIONNER', fixerHoraire_path, class:"btn btn-danger" %>
    <%= link_to 'INFO', fixerHoraire_path, class:"btn btn-info" %>      
    </div>
  </div><!-- /.container-fluid -->
</nav>



<!-- --BOTTOM ----------------------->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid center" >
    <div class="metaclassesChoisies">
      METACLASSES EN JEU: <br>
      <%= %>
    </div>
    <br>
    <%= link_to 'RÉPARTIR', root_path, class:"btn btn-primary" %>
    <%= link_to 'VALIDER', valider_path, class:"btn btn-warning" %>
    <%= link_to 'ORDONNER', root_path, class:"btn btn-primary" %>
    <%= link_to 'FILTRER', root_path, class:"btn btn-primary" %>
    <%= link_to 'FIXER-REP', root_path, class:"btn btn-primary" %>
    <%= link_to 'CEDULER', root_path, class:"btn btn-primary" %>
    <%= link_to 'VIABILISER', root_path, class:"btn btn-primary" %>
    <%= link_to 'COMPACTER', root_path, class:"btn btn-primary" %>
    <%= link_to 'DIAGONALISER', root_path, class:"btn btn-primary" %>
    <%= link_to 'FIXER-HOR', fixerHoraire_path, class:"btn btn-success" %>
    <%= link_to 'STOP', fixerHoraire_path, class:"btn btn-danger left" %>
  </div>
</nav>