<!-- --BOTTOM: nav-bar ----------------------->
<nav class="navbar navbar-default navbar-fixed-bottom">

  <form id="menuBas">
  
    <div class="container-fluid center" >

      <div class="metaclassesChoisies" >
	<text id="choixMetaclasses" color="white">  </text>
      </div>
      
      <br>
      <%= link_to 'REPARTIR', action_path(:execute=>"repartir", :blocMC => @blocMC),class:"btn btn-info"    %>
      <%= link_to 'VALIDER',  action_path(:execute=>"valider",  :blocMC => @blocMC),class:"btn btn-warning" %>
      <%= link_to 'INVALIDER',action_path(:execute=>"invalider",:blocMC => @blocMC),class:"btn btn-danger"  %>
 
 
      <div class="btn-group dropup">
	<button type="button" class="btn btn-primary">FILTRER</button>
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu multi-level">
	  <label>NOMBRE DE LIGNES DE LA FILIERE RESULTANTE (sizeFile)</label>
	      <li class="dropdown-submenu">
		  <% %w[5 10 15 20 25 30 35 40].each do |sizeFile| %>
		      <li><%= link_to sizeFile, action_path(:execute=>"filtrer",:blocMC=>@blocMC,:sizeFile=>sizeFile)%></li>
		  <% end %>
	      </li>
	</ul> 
      </div>
      
      
      <%= link_to 'VARIANCE', action_path(:execute=>"variance",:blocMC=>@blocMC),class:"btn btn-info"    %>


      <div class="btn-group dropup">
	<button type="button" class="btn btn-primary">FIX-CEDS</button>
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu multi-level">
	  <label>NIVEAUX</label>
	      <li class="dropdown-submenu">
		  <% %w[S1 S2 S3 S4 S5 DERNIER_CEDS].each do |niv| %>
		      <li><%= link_to niv,action_path(:execute=>"fixCeds",:blocMC => @blocMC,:niv=>niv)%></li>
		  <% end %>
	      </li>
	</ul> 
      </div>
 
 
      <%= link_to 'CEDULER', action_path(:execute=>"ceduler",:blocMC => @blocMC),class:"btn btn-info"  %>
      
	
      <div class="btn-group dropup">
	<button type="button" class="btn btn-primary">DIAGO</button>
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  <span class="caret"></span>
	  <span class="sr-only">Toggle Dropdown</span>
	</button>	
	<ul class="dropdown-menu multi-level">
	  <label>NIVEAUX</label>
	  <li role="separator" class="divider"></li>
		<li class="dropdown-submenu">
		    <% %w[S1 S2 S3 S4 S5].each do |niv| %>
			<li><%= link_to niv, action_path(:execute=>"matieresNiveau", :blocMC=>@blocMC, :niv => niv)%></li>
		    <% end %>
		</li>
	</ul> 	
      </div>
      
      
      <%= link_to 'DATA', action_path(:execute=>"data",:blocMC => @blocMC),class:"btn btn-warning"     %>
      
      
      <%= link_to 'PARADE',parade_path,class:"btn btn-warning"     %>


      <%= link_to 'EMAIL',parade_path,class:"btn btn-warning"     %>


    </div>    
  </form>
</nav>
