<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'HORAIRE-JDLM', root_path, class:"navbar-brand", id:"logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">METACLASSES<span class="caret"></span></a>
          <ul class="dropdown-menu">
	    <li class="dropdown-submenu">
	      <a class="test" href="#">Niveau --></a>
	      <ul class="dropdown-menu">
		<li><a tabindex="1" href="#">Backbone</a></li>
		<li><a tabindex="2" href="#">S5</a></li>
		<li role="separator" class="divider"></li>
		<li><a tabindex="3" href="#">S4</a></li>
		<li><a tabindex="4" href="#">S3</a></li>
		<li role="separator" class="divider"></li>
		<li><a tabindex="5" href="#">S2</a></li>
		<li><a tabindex="6" href="#">S1</a></li>
	      </ul>
	    </li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Professeurs</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Foyers</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Locaux</a></li>
          </ul>
        </li>
        <li class="dropdown"><% niv = "" %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">NIVEAUX<span class="caret"></span></a>
          <ol class="dropdown-menu">
            <li><a href="#">S1</a><% niv = "S1" %></li>
            <li><a href="#">S2</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">S3</a></li>
            <li><a href="#">S4</a></li>
            <li><a href="#">S5</a></li>
          </ol>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid center">
    <%= link_to 'REPARTIR', root_path, class:"btn btn-primary" %>
    <%= link_to 'VALIDER', valider_path, class:"btn btn-primary color:green" %>
    <%= link_to 'ORDONNER', root_path, class:"btn btn-primary" %>
    <%= link_to 'FILTRER', root_path, class:"btn btn-primary" %>
    <%= link_to 'FIXER-REP', root_path, class:"btn btn-primary" %>
    <%= link_to 'CEDULER', root_path, class:"btn btn-primary" %>
    <%= link_to 'VIABILISER', root_path, class:"btn btn-primary" %>
    <%= link_to 'COMPACTER', root_path, class:"btn btn-primary" %>
    <%= link_to 'DIAGONALISER', root_path, class:"btn btn-primary" %>
    <%= link_to 'FIXER-HOR', root_path, class:"btn btn-primary" %>
  </div>
</nav>