<nav class="navbar navbar-default navbar-fixed-top">
  <form id="menuHaut">
  <div class="container-fluid btn-group center ">
    <!-- LOGO et redirection à la page d'acceuil regroupé -->
    <div class="navbar-header">
      <%= link_to 'HORAIRE-JDLM', root_path, class:"navbar-brand", id:"logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div role="main" class="container theme-showcase">
    
      <!-- nav-barTop btn:[METACLASSES] -->
      <div class="btn-group btn-group-primary">
	<button type="button" class="btn btn-primary">METACLASSES </button>
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  <span class="caret"></span>
	  <span class="sr-only">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu multi-level">
	  <li><%= link_to 'Backbone', backbone_path, class:"btn btn-warning" %></li>
	  <li class="dropdown-submenu">
	    <a tabindex="-1" href="#" class="btn btn-warning">Groupes</a>
	    <ul class="dropdown-menu">
	      <% ["S5","S4","S3","S2","S1"].each do |niv| %>
	      <li class="dropdown-submenu">
		<a tabindex="-1" href="#" class="btn btn-warning" ><%= niv %></a>
		<ul class="dropdown-menu">
		  <li><%= link_to "Tous les Gr de #{niveau = niv}", nivS5_path, class:"btn btn-warning" %></li>
		  <li class="divider"></li>
		    <% niv == "S1" ? nbGroupes = 11 : nbGroupes = 9 ; i = 1%>
		    <% until i > nbGroupes do gr = group_string(niv,i) %>
		  <li><%= link_to "#{groupe = gr}", fixerHoraire_path, class:"btn btn-warning" %></li>
		    <% i +=1 %>  
		    <% end %>
		</ul>
	      </li>
	      <% end %>  
	    </ul>
	  </li>
	  
	  <li class="dropdown-submenu">
	    <a tabindex="-1" href="#" class="btn btn-warning">Catégories (Matières/Cours) </a>
	    <ul class="dropdown-menu">
	      <li><%= link_to 'ANGlais', choixMatiere_path, class:"btn btn-warning" %></li>
	      <li><%= link_to 'FRAnçais', fixerHoraire_path, class:"btn btn-warning" %></li>
	      <li><%= link_to 'ESPagnol', fixerHoraire_path, class:"btn btn-warning" %></li>
	      <li class="divider"></li>
	      <li><%= link_to 'MAThématique', fixerHoraire_path, class:"btn btn-warning" %></li>
	      <li><%= link_to 'SCiences Technologie', fixerHoraire_path, class:"btn btn-warning" %></li>
	      <li><%= link_to 'CHImie', fixerHoraire_path, class:"btn btn-warning" %></li>
	      <li><%= link_to 'PHYsique', fixerHoraire_path, class:"btn btn-warning" %></li>
	      <li><%= link_to 'Technique Méthode Scientifique', fixerHoraire_path, class:"btn btn-warning" %></li>
	      <li class="divider"></li>
	      <li><%= link_to 'ARTs', fixerHoraire_path, class:"btn btn-warning" %></li>
	      <li><%= link_to 'Education PhySique', fixerHoraire_path, class:"btn btn-warning" %></li>
	      <li><%= link_to 'HIStoire', fixerHoraire_path, class:"btn btn-warning" %></li>
	      <li><%= link_to 'GEOgraphie', fixerHoraire_path, class:"btn btn-warning" %></li>
	    </ul>
	  <li>
	  <li><%= link_to 'Salles', fixerHoraire_path, class:"btn btn-warning" %></li>
	</ul>
      </div> <!-- FIN : btn:[METACLASSES] -->
    
    <%= link_to 'PRIORITÉS', fixerHoraire_path, class:"btn btn-warning" %>
    <%= link_to 'CONTRAINTES', fixerHoraire_path, class:"btn btn-warning " %>


      <div class="btn-group btn-group-info ">
	<button class="btn btn-info" type="button">BASE DE DONNÉES</button>
	<button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button"><span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
	  <li><%= link_to 'METACLASSES', metaclasses_path, class:"btn btn-warning " %></li>
	      <li class="divider"></li>
	  <li><%= link_to 'ACTIVITÉS', activites_path, class:"btn btn-warning " %></li>
	      <li class="divider"></li>
	  <li><%= link_to 'MISE À JOUR', miseAjour_path, class:"btn btn-warning " %></li>
	</ul>
      </div>
      
      <div class="btn-group btn-group-primary">
	<button type="button" class="btn btn-primary">DÉ-SÉLECTIONNER </button>
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  <span class="caret"></span>
	  <span class="sr-only">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu multi-level">
	  <li><%= link_to '1-horaire_fixe',    fixerHoraire_path, class:"btn btn-warning" %></li>
	  <li><%= link_to '2-cedulables_fixe', fixerHoraire_path, class:"btn btn-warning" %></li>
	  <li><%= link_to '3-cedulables',      fixerHoraire_path, class:"btn btn-warning" %></li>
	  <li><%= link_to '4-en_traitement',   fixerHoraire_path, class:"btn btn-warning" %></li>
      </div>
      
    <%= link_to 'DÉ-SÉLECTIONNER', deselectionner_path, class:"btn btn-danger" %>
    <%= link_to 'INFO', fixerHoraire_path, class:"btn btn-info" %>      
    </div>

  </div><!-- /.container-fluid -->
  
  </form>
</nav>

<!-- BARRE DE NAVIGATION DU BAS DE PAGE -->

<%= render 'layouts/nav_barBottom' %> 


<script>
  function horaireJDLM() {
//    window.location.replace("http://localhost:3000/");
//    window.location.replace("http://localhost:3000/");
    location.reload();
  }
</script>

